/* Selector universal */
* {
    box-sizing: border-box;
}

body{ 
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    color: #fff;
    background-color: #000; 
      margin: 0;
    padding: 0 20px; 
    align-items: center;
    justify-content: center;
    
}

header{
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
   
  
}
header img{
    width: 200px;
     vertical-align: middle;
}


header nav a:link{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    text-align:right;
}
header nav a:visited {
  color: #FF9D1B; 
}

header nav a:hover{
    color: #d1d1d1;
  text-decoration: underline;

}
header nav a:active {
  color: #fff;
 
}

main{
  
    box-sizing: border-box;
    max-width: 1200px;        
  margin: 0 auto;           
  padding: 2rem;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}
.gallery img{
border-radius: 20px;
}

.profile-gallery{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
/*bento*/

.grid-profiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 1.4rem;
}

/* Todas las tarjetas iguales */
.profile-cards {
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.profile-cards img {
  width: 100%;
  height: 250px;
aspect-ratio: 1 / 1;
}


/* Fila superior */
.pic1 { grid-column: 1; grid-row: 1; }
.pic2 { grid-column: 2; grid-row: 1; }
.pic3 { grid-column: 3; grid-row: 1; }

/* Fila inferior */
.pic4 { grid-column: 1; grid-row: 2; }
.pic5 { grid-column: 2; grid-row: 2; }
.pic6 { grid-column: 3; grid-row: 2; }


 .profile-group img {
  height: 500px;
  width: 600px;
  border-radius: 20px;
 }

#disco-title {
    color: #59db42;
    text-transform: uppercase;
    margin-top: 20px;
}
#news-title{
  color: #e63cd0;
  text-transform: uppercase;
  margin-top: 20px;
}

h2{
    font-family:"Pixelify Sans", sans-serif;
    color: #FF9D1B;
    font-weight: 400;
}
a{
    text-decoration: none;
    margin: 10px 10px;
    color: #2c2929;
}
main img{
    width: 500px;
    height: 500px;
}


a:hover{
    text-decoration-line: underline;

}

section{
    width: 49%;
}

section img{
    width: 300px;
}

li:first-child{
    font-weight: bold;

}

/* producto */
.product-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
  margin-top: 40px;
}

.product-gallery img {
  width: 400px; ;
  border-radius: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
/* tabla*/
.product-details h2 {
  font-size: 28px;
  color: #013e3e;
}

.product-details h3 {
  font-size: 22px;
  color: #333;
}

.product-details p {
  font-size: 16px;
  color: #333;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-details th,
.product-details td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
fieldset{
  border-style: none;
}
.selectors {
  display: flex;
 
}

.selectors label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.selectors select {
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #999;
}
input{
  border-radius: 20px;
  width: 200px;
  height: 40px;
  padding: 1rem;
}

/* boton*/
button{
margin-top: 10px;
margin-bottom: 20px;
background-color: #000;
font-family:"Pixelify Sans", sans-serif;
color: #FF9D1B;
padding: 10px;
box-sizing: border-box;
cursor: pointer;
font-size: 18px;
border: solid #FF9D1B ;
border-radius: 12px;
}

button:hover {
  background-color: #FF9D1B; 
  color: #000;
}

/* footer*/
footer {
    background-color: #fff;
    width: 100%;
  
}
footer img{
     width: 90px;
    height: auto;
}
small{
    color: #2c2929;
    display: block;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.footer__menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.footer-nav a:first-child {
  color: #e63cd0;
  font-family:"Pixelify Sans", sans-serif;
}
.footer-nav a:nth-child(2) {
  color: #FF9D1B;
  font-family:"Pixelify Sans", sans-serif;
}
.footer-nav a:nth-child(3) {
    color: #3cb9e6;
    font-family:"Pixelify Sans", sans-serif;
}
.footer-nav a:last-child {
  color: #59db42;
  font-family:"Pixelify Sans", sans-serif;
}
@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  footer {
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
  }

  .footer-container {
    justify-content: center; 
    flex-direction: column;
    text-align: center;
  }

  .footer-logo img {
    width: 70px;
    height: auto;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;     
    gap: 8px;
  }

  .footer-nav a {
    font-size: 16px;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer-icons svg {
    width: 26px;
    height: 26px;
  }
.product-grid-container{
  grid-template-columns: 1fr;
}
.gallery img {
  width: 80%;
}
.profile-group img{
  height: 200px;
  width: 300px;
}
main img {
    width: 300px;
    height: 300px;
}
.grid-profiles {
  display: flex;
  flex-direction: column;
}


   
  
  



 

